@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/*** Colors***/
//neutral
$white:  hsl(0, 0%, 100%);
$main-background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
//Primary colors
$softblue:hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);


/***Font size***/
$fontsize: 18px;

/*** Font Family***/
$fontfamily: 'Outfit', sans-serif;

/***Font Weight***/
$lightfontweight:300;
$mediumfontweight:400;
$boldfontweight:600;

 